	*{
		margin: 0;
		padding: 0;
	}

	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #1d2021;
		font-family: 'Open Sans', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: #ebdbb2;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	h3 
	{
		text-align: center;
		font-size: 3.5em;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	

	a 
	{
		color: #fbf1c7;
	}

		
	ul.actions li
	{
		color: #fbf1c7;
		display: inline-block;
		padding: 0em 0.50em;
	}


	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	
	img
	{
		margin: 10%;
		width: 50%;
		height: 50%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}



	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: #cc241d;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #fbf1c7;
	}

	.button-nav{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #fbf1c7;
	}
	.button-nav:hover {
		background: #fb4934;
		color: #1d2021;
	}
	
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		padding-top: 2em;
		font-size: 1.3em;
		color: #a89984;
	}



	#about
	{
		position: relative;
		padding: 5em 0em 5em 0em;
		background: #282828;
	}

	#about .list 
	{
		padding-left: 5em;
		font-size: 1.2em;
	}

	#hobbies
	{
		position: relative;
		padding: 5em 0em 5em 0em;
		margin: 5em auto 5em auto;
		background: #32302f;
	}

	#hobbies .list 
	{
		padding: 15%;
		padding-top: 0%;
		padding-left: 20%;
		font-size: 1.2em;
	}

	#hobbies .sublist 
	{
		padding: 15%;
		padding-top: 0%;
		padding-left: 25%;
		font-size: 0.8em;
	}
	#hobbies #child p 
	{
		padding-left: 5em;
		font-size: 1.5em;
	}

	#contact
	{
		position: relative;
		padding: 5em 0em 5em 0em;
		margin: 5em auto auto auto;
		background: #1d2021;
	}

	#contact .list 
	{
		padding: 15%;
		padding-top: 0%;
		padding-left: 20%;
		font-size: 2em;
		line-height: 2;
	}

	#child 
	{
		overflow: hidden;;
		width: 50%;
		float: left;
		line-height: 2;
	}

	#child p {
		padding: 15%;
		padding-top: 10%;
		padding-left: 20%;
		font-size: 1.2em;
	}


	#wrapper2
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: rgba(255,255,255,0.60);
	}


	#header
	{
		position: relative;
		min-height: 5%;
	}

	#navigation {
		float: right;
	}


	#banner
	{
		text-align: center;
		margin: 0 auto;
		position: relative;
		min-height: 65%;
		padding: 0em 0em 0em 0em;
		margin-top: 10%;

	}
	
	#banner .title h2
	{
		font-size: 4em;
	}
	
	#banner .title .byline
	{
		font-size: 2em;
		padding-top: 2em;
		color: #a89984;
	}
	
	#banner .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		font-weight: 700;
		font-size: 1em;
		
	}
	

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}

