*{
		margin: 0;
		padding: 0;
	}


	html, body
	{
		height: 100%;
	}

	body {
		margin: 0px;
		padding: 0px;
		font-family: 'Open Sans', sans-serif;
		font-size: 12pt;
	}

	.passwordBox {
		background: #e0e0e0;
		border-radius: 10px;
	    background-color: #f2f2f2;
	    padding: 20px;
	    text-align: center;
	    margin: 8em 28em 10em 28em;	
	    padding-top: 3em;
	    padding-bottom: 3em;

	    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);	
	}

	input {
    width: 30%;
	}

	input {
	    border: 0.3px solid black;
	    border-radius: 4px;
	    padding: 15px 22px;
	    /*box-sizing: border-box;*/
	    outline-color: #910a0a;	
	    display: block;
        margin : 0 auto;

        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}


	input:focus {
    border: 0.3px solid #910a0a;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	input[type=button], input[type=submit], input[type=reset] {
	    background-color: #660505;
	    border: none;
	    color: white;
	    padding: 16px 32px;
	    text-decoration: none;
	    cursor: pointer;
	    display: block;
        margin : 0 auto;

        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	input[type=button]:hover, input[type=submit]:hover , input[type=reset]:hover {
		background-color: #910a0a;

		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	input[type=button]:focus, input[type=submit]:focus , input[type=reset]:focus {
		background-color: #910a0a;
	}